/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.gitattributes
/node_modules
!/pub/media/.htaccess
!/pub/media/attribute/.htaccess
!/pub/media/catalog/.htaccess
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
!/pub/media/import/.htaccess
/pub/media/logo/*
!/pub/media/custom_options/.htaccess
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/static/*
!/pub/static/.htaccess

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
vendor
